:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  transition: color 250ms var(--transition-timing-function);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link:hover .header-icon,
.link:focus .header-icon {
  fill: var(--accent-color);
}

.list {
  list-style: none;
}

.btn {
  font-size: 16px;

  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-header {
  margin-right: 93px;
}

.logo-black-part {
  color: #000000;
}

.logo-white-part {
  color: #ffffff;
}

.nav,
.contacts {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts {
  margin-left: auto;
  align-items: center;
}

.nav-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #212121;
}

.contacts-link {
  display: flex;
  align-items: center;

  color: #757575;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-icon {
  margin-right: 10px;
  fill: var(--primary-color);
  transition: fill 250ms var(--transition-timing-function);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Features */

.features {
  display: flex;
  margin-right: -30px;
}

.features-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.features-text {
  line-height: 1.71;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.features-icon {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* Examples & Team & Clients */

.examples {
  display: flex;
  margin-right: -30px;
}

.examples-item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.examples-top-text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 27px 0;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples-title,
.team-title,
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin-right: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px 32px;
}

.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
}

.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-timing-function);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--accent-color);
}

.social-media-link:hover .social-media-logo,
.social-media-link:focus .social-media-logo {
  fill: #ffffff;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-logo {
  fill: #afb1b8;
  transition: fill 250ms var(--transition-timing-function);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--transition-timing-function);
}

.client-logo {
  fill: #afb1b8;
  transition: fill 250ms var(--transition-timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .client-logo,
.clients-link:focus .client-logo {
  fill: var(--accent-color);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
}

.address {
  margin-bottom: 9px;

  color: #ffffff;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-message {
  margin-top: 12px;
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  color: #ffffff;
}

.smlink-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.smlogo-footer {
  fill: #ffffff;
}

.footer-flex {
  display: flex;
}

.footer-left-box {
  margin-right: 70px;
}

.footer-middle-box {
  margin-right: 93px;
}

.footer-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-btn::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);
}

.footer-form-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;

  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form {
  display: flex;
}

/* Portfolio */

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.63;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--transition-timing-function);
}

.portfolio-subtitle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-item-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-top-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  transform: translateY(100%);

  padding: 63px 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--transition-timing-function);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 300ms var(--transition-timing-function),
    visibility 250ms var(--transition-timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  width: 528px;
  min-height: 581px;

  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 500ms var(--transition-timing-function);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  padding: 5px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus .icon-close-btn {
  fill: var(--accent-color);
}

.icon-close-btn {
  transition: fill 250ms var(--transition-timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  color: var(--title-color);
}

.modal-form-input {
  display: block;
  margin-bottom: 10px;
  padding: 11px 12px 11px 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-color);
  outline: none;
  transition: border-color 250ms var(--transition-timing-function);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-color);
  resize: none;
  outline: none;
  transition: border-color 250ms var(--transition-timing-function);
}

.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-form-label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  line-height: 1.71;
}

.modal-checkbox-label span {
  display: flex;
  padding: 4px 2px 3px 3px;
  margin-right: 8px;
  margin-left: 12px;
  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox:checked + .modal-checkbox-label span {
  background-color: var(--accent-color);
  border: none;
}

.terms-link {
  color: var(--accent-color);
}

.modal-send-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-timing-function);
}
